{{ form_start(formformation) }}
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-auto">
                        {{ form_row(formformation.publishedAt) }}
                    </div>
                    <div class="col">
                        {{ form_row(formformation.title) }}
                    </div>
                    <div class="col">
                        {{ form_row(formformation.videoId) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(formformation.playlist) }}
                    </div>
                    <div class="col">
                        {{ form_row(formformation.categories) }}
                    </div>
                </div>
                <div class="row">
                     <div class="col">
                        {{ form_row(formformation.description) }}
                    </div>
                </div>
                    <br></br>
            </div>
        </div>
    {{ form_end(formformation) }}
